<div class="intro-header">
    <div class="fixed-navbar">
        <nav class="navbar__wrapper">
            <ul class="navbar__list">
                {% for link in site.navigation %}
                <li class="navbar__list-item"><a href="{{site.baseurl}}/{{link.url}}">/{{link.text}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="container">
        <div class="space-tiny"></div>

        <div class="site-info__wrapper">
            <ul class="ch-grid">
                <li>
                    <a href="{{site.baseurl}}/">
                        <img class="ch-item ch-img-1"
                             src="https://avatars1.githubusercontent.com/u/5878605?v=3&s=460">
                        </img>
                    </a>
                </li>
            </ul>
            
            <div class="site-info">
                <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
                <p class="site-description">{{ site.description }}</p>
            </div>
        </div>

        <div class="space-tiny"></div>

        <nav class="navbar__wrapper">
            <ul class="navbar__list">
                {% for link in site.navigation %}
                <li class="navbar__list-item"><a href="{{ site.baseurl }}/{{link.url}}">/{{link.text}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="space-tiny"></div>
</div>
