
//
// VARIABLES
//


// Colors

$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$blue: #4183C4;


// Main theme colors 
// Some cool main theme colors(violet:#8476ad;blue:#5cacee;red:#ff7373,#ff6f69;green:#6acf64,#2ddbb3;orange:#ffa268)

// $mono-color: #090909;                // main theme color(header, links, footer icons, buttons, post-title)
// $mono-color: darken(#3F51B5, 20);
// $mono-color: #567568;
// $mono-color: #1A535C;
$mono-color: darken(#4B0082, 20);
$mono-color-hover: darken($mono-color, 20);
$mono-color-medium: lighten($mono-color, 25);
$mono-color-light: lighten($mono-color, 50);
$hl-color: $darkGray;              // header link color (author name and posted on date) for blog post meta 
$navbar-hover-color: $white;        // navbar hover color (site name and navbar links hover color)
$link-color: $darkerGray;        // normal hyperlink color other than the ones above.

$text-color: darken($mono-color, 50);
$text-color-hover: darken($text-color, 20);
$text-color-medium: lighten($text-color, 35);
$text-color-light: lighten($text-color, 70);

// Heading colors
// You can play around with these too!
$h1-color: $text-color;
$h2-color: $text-color; 
$h3-color: $text-color-medium; 
$h4-color: $text-color-light; 

// Your avatar
$avatar: "https://avatars1.githubusercontent.com/u/5878605?v=3&s=460";

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

$button-color: $mono-color;
$button-hover-color: $white;
$button-border-color: $mono-color;

$site-name-a-color: $white;
$site-name-a-hover-color: darken($site-name-a-color, 30);

$post-a-color: $text-color;
$post-a-hover-color: $text-color-hover;

$post-meta-text-color: $text-color;
$post-meta-a-text-color: $text-color-medium;

$post-button-color: $mono-color-medium;
$post-button-hover-color: darken($mono-color-medium, 20);
$post-button-border: 1px solid $post-button-color;
$post-button-border-hover: 1px solid $post-button-hover-color;

$post-heading-a-color: $text-color;
$post-heading-a-hover-color: $text-color-hover;

$intro-header-bg-color: $mono-color;
$intro-header-container-bg-color: $intro-header-bg-color;

$fixed-navbar-bg-color: $intro-header-bg-color;

$svg-icon-color: $mono-color;
$svg-icon-color-hover: $mono-color-hover;

$ch-info-p-color: $white;
$ch-info-h3-color: $black;
$ch-info-p-a-color: $text-color;
$ch-info-p-a-hover-color: $text-color-hover;